# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Temporary & Log Files
*.log
*.tmp
*.bak

# IDE / Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
